<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>294742767578-abuakcrcokg2umjbsaer2behj7cicufq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.294742767578-abuakcrcokg2umjbsaer2behj7cicufq</string>
	<key>API_KEY</key>
	<string>AIzaSyDQ6ah6h_bjMMoYMa0hUrN2m3TXN7ezwlM</string>
	<key>GCM_SENDER_ID</key>
	<string>294742767578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>soldout-bb016</string>
	<key>STORAGE_BUCKET</key>
	<string>soldout-bb016.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:294742767578:ios:b604a85dd90dfeabf0f2e3</string>
</dict>
</plist>